syndication_blueprint.json
{
    "name": "Smart Hustler Linear Syndication V2",
    "flow": [
        {
            "id": 1,
            "module": "rss:WatchRSS",
            "version": 1,
            "parameters": {
                "url": "https://smarthustlermarketing.com/rss.xml",
                "limit": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                }
            }
        },
        {
            "id": 2,
            "module": "linkedin:CreateShare",
            "version": 1,
            "parameters": {},
            "mapper": {
                "content": {
                    "title": "{{1.title}}",
                    "description": "{{1.description}}",
                    "submittedUrl": "{{1.link}}",
                    "submittedImageUrl": "{{1.image.url}}"
                },
                "visibility": "CONNECTIONS"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            }
        },
        {
            "id": 3,
            "module": "twitter:CreateTweet",
            "version": 1,
            "parameters": {},
            "mapper": {
                "text": "New Post: {{1.title}}\n\nRead here: {{1.link}}\n\n#SmartHustler"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                }
            }
        },
        {
            "id": 4,
            "module": "medium:CreateStory",
            "version": 1,
            "parameters": {},
            "mapper": {
                "title": "{{1.title}}",
                "contentFormat": "html",
                "content": "<h1>{{1.title}}</h1><br><p>{{1.description}}</p><br><p>Read the full article here: <a href=\"{{1.link}}\">{{1.title}}</a></p>",
                "canonicalUrl": "{{1.link}}",
                "tags": [
                    "marketing",
                    "sidehustle"
                ],
                "publishStatus": "draft"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            }
        },
        {
            "id": 5,
            "module": "reddit:SubmitPost",
            "version": 1,
            "parameters": {
                "sr": "marketing"
            },
            "mapper": {
                "title": "{{1.title}}",
                "kind": "link",
                "url": "{{1.link}}",
                "resubmit": true,
                "sendreplies": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                }
            }
        }
    ],
    "metadata": {
        "version": 1
    }
}